HomeTask5/.idea
HomeTask5/quiz_solve-master/vendor
HomeTask5/quiz_solve-master/.idea
HomeTask5/quiz_solve-master/.gitignore
HomeTask6/.idea
HomeTask7/refactoring_practice-master/.idea
HomeTask8/.idea
HomeTask8/vendor


